# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django related files
*.log
*.pot
*.pyc
*.sqlite3
__pycache__/
local_settings.py
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Virtual environment
venv/
venv*/
.env

# IDE specific files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Static files
static/

# Migration files
*/migrations/*

# K8s configuration
*k8s.yaml
