apiVersion: v1
data:
  allowed-hosts: localhost,127.0.0.1
  csrf-trusted-origins: http://localhost:8001,http://127.0.0.1:8001
  db-engine: mysql
  db-host: mysql-db-service
  db-name: web-lib
  debug: "False"
  log-level: DEBUG
kind: ConfigMap
metadata:
  name: web-lib-configmap
---
apiVersion: v1
data:
  secret-key: d2ViLWxpYi1zZWNyZXQta2V5
kind: Secret
metadata:
  name: web-lib-secret
type: Opaque
---
apiVersion: v1
data:
  db-host: localhost
  db-port: "3306"
kind: ConfigMap
metadata:
  name: mysql-configmap
---
apiVersion: v1
data:
  db-password: 8e047B%a!9fd2b^
  db-user: web-lib-user
  db-root-password: G#rE4$1LzA@9x^
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-lib-deployment
  labels:
    app: web-lib-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-lib-app
  template:
    metadata:
      labels:
        app: web-lib-app
    spec:
      containers:
      - name: web-lib-app
        image: stevenb1996/web-lib:v1.2
        ports:
        - containerPort: 8001
        env:
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: web-lib-secret
              key: secret-key
        - name: DJANGO_DEBUG
          valueFrom:
            configMapKeyRef:
              name: web-lib-configmap
              key: debug
        - name: DJANGO_ALLOWED_HOSTS
          valueFrom:
            configMapKeyRef:
              name: web-lib-configmap
              key: allowed-hosts
        - name: DJANGO_CSRF_TRUSTED_ORIGINS
          valueFrom:
            configMapKeyRef:
              name: web-lib-configmap
              key: csrf-trusted-origins
        - name: DJANGO_LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: web-lib-configmap
              key: log-level

        - name: DB_ENGINE
          valueFrom:
            configMapKeyRef:
              name: web-lib-configmap
              key: db-engine
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: web-lib-configmap
              key: db-name
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: db-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: db-password
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: db-host
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: db-port
---
apiVersion: v1
kind: Service
metadata:
  name: web-lib-service
spec:
  selector:
    app: web-lib-app
  type: LoadBalancer
  ports:
  - protocol: TCP
    port: 8001
    targetPort: 8001
    nodePort: 30000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-db-deployment
  labels:
    app: mysql-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-db
  template:
    metadata:
      labels:
        app: mysql-db
    spec:
      containers:
      - name: mysql-db
        image: mysql
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: db-user
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: db-password
        - name: MYSQL_HOST
          valueFrom:
            configMapKeyRef:
              name: mysql-db-configmap
              key: db-host
        - name: MYSQL_TCP_PORT
          valueFrom:
            configMapKeyRef:
              name: mysql-db-configmap
              key: db-port
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-db-service
spec:
  selector:
    app: mysql-db
  ports:
  - protocol: TCP
    port: 3306
    targetPort: 3306
