{% extends 'layout/main.html' %}

{% block header %}
{% include 'layout/header.html' with header_title="Web Library" %}
{% endblock header %}

{% block content %}
<style>
    .create-form {
        padding: 20px;
        margin: 20px;
        border-radius: 20px;
        min-width: 300px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        gap: 10px;
        border: solid;
        border-width: 0.5em;
        background-color: #DDA16F;
        border-color: #441704;
    }

    .create-form label {
        font-weight: bold;
    }

    .create-form input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: medium;
        font-weight: normal;
        box-sizing: border-box;
    }

    .create-form button[type="submit"] {
        padding: 10px 20px;
        background-color: #B16A2A;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: medium;
        font-weight: normal;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        box-sizing: border-box;
    }

    .create-form button[type="submit"]:hover {
        background-color: #441704;
    }

    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .home-table th,
    .home-table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .home-table {
        width: 100%;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
    }

    .home-data-container {
        box-sizing: border-box;
        width: 100%;
        border: solid;
        border-width: 0.5em;
        padding: 20px;
        margin: 20px;
        border-radius: 20px;
        background-color: #DDA16F;
        border-color: #441704;
    }

    .home-container-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
    }
</style>

<div class="home-container">
    <div class="home-container-header">
        {% include 'components/filter_table.html' %}
        <form
            class="create-form"
            action=""
            method="POST"
        >
            <h1>Add Reading List:</h1>
            {% csrf_token %}
            <div class="form-set">
                <label for="name">
                    <h2>Name:</h2>
                </label>
                <input
                    type="text"
                    id="name"
                    name="name"
                ><br>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
    <div class="home-data-container">
        <h2>Reading Lists:</h2>
        {% load django_tables2 %}
        {% render_table table %}
    </div>
</div>
{% endblock %}